*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  color: currentColor;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

img, video {
  width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

input, textarea {
  border: none;
  outline: none;
  background: none;
}
